html h1 {
    font-size: 26px;
    margin-left: 10px;
  }

  html h2 {
    font-size: 22px;
    margin-left: 10px;
  }

  html h3 {
    font-size: 14px;
    margin-left: 10px;
  }

  html h4 {
    font-size: 16px;
  }

  .progtrckr {
    text-align: center;
    padding-bottom: 16px;
    border-bottom: solid 0px;
  }

  .progtrckr li {
    margin-bottom: 10px;
  }

  .val-err-tooltip {
    background-color: red;
    padding: 3px 5px 3px 10px;
    font-size: 14px;
    color: #fff;
  }

  .step {
    background-color: transparent;
    min-height: 450px;
    padding: 10px;
  }

  html .row, html .form-horizontal .form-group {
    margin: 0;
  }

  .footer-buttons {
    margin-top: 10px;
  }

  html .step3 label, html .step4 label {
    /*font-size: 20px;*/
    text-align: left;
  }

  html .form-horizontal .control-label {
    text-align: left;
  }

  .review .txt {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  html body .saving {
    background-color: #5cb85c;
    width: 90%;
    padding: 5px;
    font-size: 16px;
  }

  code {
    position: relative;
    left: 12px;
    line-height: 25px;
  }

  .eg-jump-lnk {
    margin-top: 50px;
    font-style: italic;
  }

  .lib-version {
    font-size: 12px;
    background-color: rgba(255, 255, 0, 0.38);
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
  }

  html .content {
    margin-left: 10px;
  }

  span.red {
    color: #d9534f;
  }

  span.green {
    color: #3c763d;
  }

  span.bold {
    font-weight: bold;
  }

  html .hoc-alert {
    margin-top: 20px;
  }

  html .form-block-holder {
    margin-top: 20px !important;
  }